
.home{ margin-left: 10%;
    margin-top: -400px;
    margin-bottom: 220px;
    
    font-weight: bold;
}
.home h1{
    font-family: fantasy;
    font-size: 60px;
}
.home button{
    border-radius: 30px ;
    border-color: white;

}
.sect2{
    
   margin-left: 150px;
   margin-bottom: 100px;
   margin-right: 100px;
   
}

.image-container {
    display: flex;
}

.image-container .image-wrapper {
    position: relative;
    margin: 5px;

}

.image-container img {
    width: 250px;
    height: 200px;
    transition: opacity 0.3s ease;
}

.image-container .overlay-text {
    position: absolute;
    top: 90%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: #202020;
    
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
}

.image-container .image-wrapper:hover img {
    opacity: 0.7;
}

.image-container .image-wrapper:hover .overlay-text {
    opacity: 1;
}
